.sideContent{
  font-style: italic;
  max-width: 400px;
  border-radius: 10px;
  background: #fff;
  margin-top: 50px;
  text-align: center;
}

.sideContent h2 {
  padding: 10px 0 0 0;
  font-size: 2em;
  color: black;
}
.line{border: 1px solid lightgray;}

.save{
  margin-top: 15px;
  font-style: italic;
  outline: none;
  font-size: 1.5em;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
}

.save:hover{
  transition: 400ms ease;
  text-decoration: underline;
  color: black;

}
.profiles{
  padding-bottom: 5px;
}

.profile {
  position: relative;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background: none;

}
.profile:hover {
  transition: 400ms ease;
  text-decoration: underline;
}
.profile h4 {margin: 10px 0;padding: 0;}
.profile p {margin: 0;padding: 0;}

.delete {
  color: red;
  border: 2px solid red;
  position: absolute;
  padding: 5px 10px;
  background: none;
  top: 2px;
  right: 5px;
  font-size: 18px;
}
.profile .delete:hover{
transition: 400ms ease;
transform: rotate(1turn);
}

