.content{
    max-width: 700px;
    margin: 200px auto;
    border-radius: 10px;
    background: #fff;
    text-align: center;
}
.header h1{
    padding-top: 15px;
    font-size: 2em;
    text-align: center;
}
.repositories{
    font-size: 2em;text-align: center;}

.dev{
    padding: 30px 0;
    font-size: 1.5em;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.dev:hover{
    transition: 400ms ease;
    text-decoration: underline;
}
@media only screen and (min-width : 480px) and (max-width: 767px) {
    .content{max-width: 400px}
    .repositories{font-size: 1.5em}
    .header h1{font-size: 1.5em;}
}
