.weatherForm{

}

.weatherInput{
  padding: 10px 25px 10px 25px;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  background: none;
  border: 2px solid lawngreen;
  border-radius: 5px;
  color: lawngreen;
}

.weatherAdd{
  text-decoration: none;
  outline: none;
  font-size: 2em;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  border: 2px solid lawngreen;
  border-radius: 5px;
  color: lawngreen;
}
.weatherAdd:hover{
  border: 2px solid gold;
  color: gold;
  transition: 400ms ease;
}

.weatherDel{
  text-decoration: none;
  outline: none;
  font-size: 2em;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  border: 2px solid lawngreen;
  border-radius: 5px;
  color: lawngreen;
}

.weatherDel:hover{
  border: 2px solid gold;
  color: gold;
  transition: 400ms ease;
}

.weather-search {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em;
 }

